body {
  background-color: #599478;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.page-videos {
  background-color: #CC463A;
}

.page-upcoming-shows {
  background-color: #D4C206;
}

.page-pictures {
  background-color: #4C3219;
}

.page-node-8 {
  background-color: #D1E7E4;
}

.page-contact {
  background-color: #E1CE81;
}

.main-logo {
  max-width: 70%;
}

#splashmap {
  margin-top: -10%;
}

body.front ul.menu {
  display: none;
}


#navbar {
  background: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;
}

.field-content {
  padding: 10px;
  text-align: center;
}

.img-responsive {
  display: block;
  margin: auto;
}

.view-upcoming-shows {
  display: block;
  margin: auto;
}


@media only screen and (max-width: 767px) {
  body {
      background-color: lightblue;
  }

  #splashmap {
    display: none;
  }

  body.front ul.menu {
    display: unset;
  }
}
