body {
  background-color: #599478;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

body.front ul.menu {
  display: none;
}

tr {
  border-radius: 40px;
}

.field-content {
  padding: 10px;
  text-align: center;
}

.img-responsive {
  display: block;
  margin: auto;
}

.main-logo {
  max-width: 70%;
}

#navbar {
  background: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;
}

.page-videos {
  background-color: #CC463A;
}

.page-upcoming-shows {
  background-color: #D4C206;
}

.page-contact {
  background-color: #E1CE81;
}

.page-node-8 {
  background-color: #D1E7E4;
}

.page-pictures {
  background-color: #4C3219;
}

.page-upcoming-shows .region {
  background-color: rgba(255,255,255,0.2);
  border-radius: 15px;
  max-width: 80%;
  display: block;
  margin: auto;
}

.page-news-new .region {
  background-color: rgba(255,255,255,0.2);
  border-radius: 15px;
}

.node-type-news-post .region {
  background-color: rgba(255,255,255,0.2);
  border-radius: 15px;
}

#splashmap {
  margin-top: -10%;
}

.view-upcoming-shows {
  display: block;
  margin: auto;
}

@media only screen and (max-width: 767px) {
  body {
      background-color: lightblue;
  }

  #splashmap {
    display: none;
  }

  body.front ul.menu {
    display: unset;
  }
}

.page-contact .main-container {
  max-width: 55%;
}

.mailing-list-form {
  max-width: 40%;
}
